version: '3.12'

services:
  backend:
    container_name: backend3
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./core:/app
    ports:
      - "8000:8000"
    environment:
      - SECRET_KEY=django-insecure-i-)wn-&f78ty!z7@hou(ft&%4pvlk+tzl4!g4&-1em7(q66da=
      - DEBUG=True


#    depends_on:
#      - db
#
#  db:
#    image: postgres:latest
#    environment:
#      POSTGRES_DB: mydb
#      POSTGRES_USER: myuser
#      POSTGRES_PASSWORD: mypassword