Django==4.2.10
python-decouple
djangorestframework==3.15.2
django-cors-headers
markdown
django-filter
drf-yasg[validation]
pytest
pytest-django
djangorestframework-simplejwt
faker
celery
redis
django-redis